/dts-v1/;

/ {
    model = "Testing fucking test.";
    compatible = "nope,nope", "less,nup";
    #address-cells = <0x1>;
    #size-cells = <0x1>;

    memory {
	reg = <0x60000000 0x8000000>;
    };

    chosen {
	bootargs = "derp,derp fucking fuck";
    };
	
    derp@0x100000 {
	derpderp = "fuck";
    };
};
